body {
    margin: 0;
    font-family: "andale mono", monospace;
}

#websiteLogoBox {
    padding-left: 20px;
    width: 250px;
    height: 100px;
}

#userAccountBox {
    position: absolute;
    top: 0;
    right: 25px;
    width: 300px;
    height: 100px;
}

#signUpButton, #logInBUtton {
    font-family: "andale mono", monospace;
    margin-top: 15px;
    width: 145px;
    border: none;
    background-color: white;
    border: 1px solid black;
    height: 35px;
}

#signUpBoxLabel {
    font-family: "andale mono", monospace;
    color: white;
    margin-left: 137px;
}

#signUpBox {
    margin-top: 180px;
    position: absolute;
    left: 40%;
    z-index: 1;
    display: none;
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 20%;
}

#signUpUsernameInput {
    font-family: "andale mono", monospace;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10%;;
    width: 80%;
    height: 30px;
}

#signUpPasswordInput {
    font-family: "andale mono", monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;;
    width: 80%;
    height: 30px;
}

#signUpBoxButton{
    font-family: "andale mono", monospace;
    margin-top: 20px;
    width: 81.6%;
    margin-left: 10%;
    height: 30px;
}

#signUpBoxBack{
    font-family: "andale mono", monospace;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
    color: black;
}

#usernameText {
    display: none;
    margin-left: 100px;
}

.vertical-line {
    position: absolute;
    top: 200px;
    left: 49%;
    border-left: 1px solid black; 
    height: 680px; 
    margin: 0 auto; 
}

#createNewTestButton{
    font-family: "andale mono", monospace;
    width: 600px;
    height: 40px;
    position: absolute;
    left: 1100px;
    top: 200px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

#startTestSession{
    font-family: "andale mono", monospace;
    width: 600px;
    height: 40px;
    position: absolute;
    left: 1100px;
    top: 270px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

.testButton{
    font-family: "andale mono", monospace;
    width: 300px;
    height: 40px;
    position: absolute;
    left: 1100px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

#testButton1{
    top: 420px;
}

#vertical-line-creation{
    position: absolute;
    top: 200px;
    left: 500px;
    border-left: 1px solid black; 
    height: 680px; 
    margin: 0 auto; 
}

#testName {
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 230px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#labelTestName {
    position: absolute;
    top: 180px;
    left: 40px;
}

#testComplexity{
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 320px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#labelTestComplexity{
    position: absolute;
    top: 270px;
    left: 40px;
}

#labelTestTopic{
    position: absolute;
    top: 360px;
    left: 40px;
}

#testTopic{
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 410px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#addQuestionButton{
    width: 200px;
    height: 40px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 520px;
}

#saveTheTest{
    width: 200px;
    height: 40px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 1680px;
}

.questionField {
    width: 1340px;
    height: 600px;
    position: absolute;
    left: 540px;
    top: 280px;
}

#questionsList{
    width: 1340px;
    height: 60px;
    position: absolute;
    left: 540px;
    top: 200px; 
}

.questonListItem{
    position: relative;
    margin-left: 10px;
    position: fixed;
    width: 60px;
    height: 60px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

#questionItem1{
    border: 5px solid black;
}

.typeOfQuestionSelect{
    width: 240px;
    height: 35px;
    background-color: white;
    font-family: "andale mono", monospace;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
    margin-bottom: 20px;
}

#inputText{
    width: 700px;
    border: 1px solid black;
    height: 40px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.checkMultipleChoise, .checkTrueFalseChoise {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    top: 9px;
}

.joinCheckMultipleChoise{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    top: 9px; 
    margin-left: 20px;
}

.optionTextMultipleChoise{
    position: relative;
    left: 40px;
    top: -31px;
    display: block;
    margin-left: 20px;
    height: 35px;
    width: 640px;
    padding-left: 10px;
    border: 1px solid black;
    background-color: white;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

.joinOptionTextMultipleChoise{
    position: relative;
    left: 60px;
    top: -31px;
    display: block;
    margin-left: 20px;
    height: 35px;
    width: 480px;
    padding-left: 10px;
    border: 1px solid black;
    background-color: white;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

.multipleChoiseOptionsDiv{
    margin-top: -10px;
}

.horizontal-line {
    position: absolute;
    top: 180px;
    left: 520px;
    border-top: 1px solid black; 
    width: 1360px; 
    margin: 0 auto; 
}

#openAnswerText{
    font-family: "andale mono", monospace;
    font-size: 20px;
    width: 700px;
    height: 265px;
    border: 1px solid black;
    max-width: 700px;
    min-width: 700px;
    max-height: 265px;
    min-height: 265px;
    padding-top: 10px;
    padding-left: 10px;
}

#signOutButton{
    width: 100px;
    border: 1 px solid black;
    background-color: white;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 200px;
    font-family: "andale mono", monospace;
    display: none;
}

#startSessionBox{
    display: none;
}

#sessionCodeBox{
    display: none;
}

#sessionCodeText{
    position: absolute;
    top: 400px;
    left: 830px;
}

#joinSessionCode{
    border: 1px solid black;
    width: 200px;
    height: 70px;
    position: absolute;
    left: 890px;
    padding-left: 20px;
    top: 400px;
    font-size: 40px;
    text-align: center;
    font-family: "andale mono", monospace;
    padding-right: 20px;
}

#joinSessionButton{
    border: 1px solid black;
    width: 240px;
    height: 35px;
    position: absolute;
    left: 890px;
    padding-left: 20px;
    top: 500px;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "andale mono", monospace;
    padding-right: 20px;
}

#joinEnterUsername{
    display: none;
}

#joinGetUsername{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    position: absolute;
    left: 840px;
    padding-left: 20px;
    top: 400px;
    font-size: 20px;
    text-align: center;
    font-family: "andale mono", monospace;
    padding-right: 20px;
}

#joinGetUsernameStart{
    border: 1px solid black;
    width: 343px;
    height: 35px;
    position: absolute;
    left: 840px;
    padding-left: 20px;
    top: 480px;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "andale mono", monospace;
    padding-right: 20px;
}

#joinMulptileChoiceDraw{
    display: none;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: absolute;
    left: 700px;
    top: 200px;
}