body {
    margin: 0;
    font-family: "andale mono", monospace;
}

#websiteLogoBox {
    padding-left: 20px;
    width: 250px;
    height: 100px;
}

#userAccountBox {
    position: absolute;
    top: 0;
    right: 25px;
    width: 300px;
    height: 100px;
}

#signUpButton, #logInBUtton {
    font-family: "andale mono", monospace;
    margin-top: 15px;
    width: 145px;
    border: none;
    background-color: white;
    border: 1px solid black;
    height: 35px;
}

#signUpBoxLabel {
    font-family: "andale mono", monospace;
    color: white;
    margin-left: 137px;
}

#signUpBox {
    margin-top: 180px;
    position: absolute;
    left: 40%;
    z-index: 1;
    display: none;
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 20%;
}

#signUpUsernameInput {
    font-family: "andale mono", monospace;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10%;;
    width: 80%;
    height: 30px;
}

#signUpPasswordInput {
    font-family: "andale mono", monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;;
    width: 80%;
    height: 30px;
}

#signUpBoxButton{
    font-family: "andale mono", monospace;
    margin-top: 20px;
    width: 81.6%;
    margin-left: 10%;
    height: 30px;
}

#signUpBoxBack{
    font-family: "andale mono", monospace;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
    color: black;
}

#usernameText {
    display: none;
    margin-left: 100px;
}

.vertical-line {
    position: absolute;
    top: 200px;
    left: 49%;
    border-left: 1px solid black; 
    height: 680px; 
    margin: 0 auto; 
}

#createNewTestButton{
    font-family: "andale mono", monospace;
    width: 600px;
    height: 40px;
    position: absolute;
    left: 1000px;
    top: 200px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

#vertical-line-creation{
    position: absolute;
    top: 200px;
    left: 500px;
    border-left: 1px solid black; 
    height: 680px; 
    margin: 0 auto; 
}

#testName {
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 230px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#labelTestName {
    position: absolute;
    top: 180px;
    left: 40px;
}

#testComplexity{
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 320px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#labelTestComplexity{
    position: absolute;
    top: 270px;
    left: 40px;
}

#labelTestTopic{
    position: absolute;
    top: 360px;
    left: 40px;
}

#testTopic{
    width: 400px;
    margin-left: 40px;
    height: 40px;
    position: absolute;
    top: 410px;
    border: 1px solid black;
    font-family: "andale mono", monospace;
    font-size: 20px;
}

#addQuestionButton{
    width: 200px;
    height: 40px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 520px;
}

#saveTheTest{
    width: 200px;
    height: 40px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 1680px;
}

.questionField {
    width: 1340px;
    height: 600px;
    position: absolute;
    left: 540px;
    top: 280px;
}

#questionsList{
    width: 1340px;
    height: 60px;
    position: absolute;
    left: 540px;
    top: 200px; 
}

.questonListItem{
    width: 60px;
    height: 60px;
    font-family: "andale mono", monospace;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
}

.typeOfQuestionSelect{
    width: 240px;
    height: 35px;
    background-color: white;
    font-family: "andale mono", monospace;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
}